{{#each this}}
  <div class="row mt-5" style="border-bottom: 1px dashed black">
    <div class="col-sm-12">
      <h6 class="title">{{title}}</h6>
    </div>
    <div class="col-sm-12">
      <p class="author font-italic">{{author}}</p>
    </div>
    <div class="col-sm-12">
      <p class="text">{{text}}</p>
    </div>
  </div>
{{/each}}
